body {
  background-image: url("./images/clouds.jpg");
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  font-family: Georgia;
  font-weight: 300;
  font-size: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: auto;
  gap: 35px;
}

ul li {
  background-color: transparent;
  border: 20px;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .list {
    visibility: hidden;
  }
  header {
    display: block;
    text-align: center;
  }
  .title {
    display: block;
    text-align: left;
    padding-left: 25px;
  }
  .title__text {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    text-align: left;
    padding-left: 20px;
  }
  .about {
    display: block;
    text-align: left;
    padding-left: 25px;
    place-items: center;
    max-block-size: 100%;
  }
  .about > .about__image:first-child {
    padding-top: 0;
  }
  .about__heading {
    font-family: Georgia, serif;
    font-size: 30px;
    place-items: left;
    float: left;
    margin-right: 60px;
    width: 60px;
    height: 60px;
    padding-bottom: 30px;
  }
  .about__image {
    place-items: center;
    image-rendering: optimizeQuality;
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 30px;
    height: 70%;
    width: 70%;
  }
  .projects__heading {
    font-family: Georgia, serif;
    font-size: 30px;
  }
  .contact {
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
  }
  .contact__text {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 30px;
  }
  .technical {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  .title {
    display: block;
    text-align: left;
    max-width: 1200px;
    padding-bottom: 60px;
    padding-left: 350px;
  }
  .title__text {
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    font-family: Georgia, serif;
  }
  .about {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    padding-bottom: 60px;
  }
  .about__heading {
    padding-right: 10px;
    width: 60px;
    padding-bottom: 10px;
    font-family: Georgia;
    font-size: 35px;
  }
  .about__image {
    display: flex;
    place-content: right;
    max-height: 900px;
    max-width: 200px;
  }
  .about__text {
    width: 1400px;
    align-content: flex-end;
    align-items: flex-start;
    padding-left: 30px;
    border-top: 30px;
  }
  .technical {
    text-align: center;
  }
  .technical__skills {
    padding-right: 10px;
    width: 60px;
    padding-bottom: 10px;
    font-family: Georgia;
    font-size: 35px;
  }
  .skills__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .skills__icon .__dim {
    width: 30px;
    float: left;
  }
  .projects__heading {
    padding-right: 10px;
    width: 60px;
    padding-bottom: 10px;
    font-family: Georgia;
    font-size: 35px;
  }
  .contact__text {
    text-align: center;
    padding-right: 10px;
    font-family: Georgia;
    font-size: 35px;
  }
  .contact {
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
  }
}
