body {
  background-image: url("./clouds.jpg");
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: auto;
  gap: 35px;
}

ul li {
  background-color: transparent;
  border: 20px;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.title {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  .list {
    visibility: hidden;
  }
  header {
    display: block;
    text-align: center;
  }
  .title {
    display: block;
    text-align: left;
  }
  .about {
    display: block;
    flex-direction: column;
  }
  .image {
    display: block;
    margin: auto;
  }
  .contact {
    display: block;
    margin: auto;
    border: none;
  }
}
.about {
  box-sizing: border-box;
  width: 100%;
  float: left;
  gap: 10px;
}
.about .text {
  display: block;
  float: inline-start;
}

.image {
  float: right;
  max-width: 300px;
  height: auto;
}

.text {
  width: 700px;
  align-content: flex-end;
  align-items: flex-start;
}

.contact {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
}
